@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.woff2') format('woff2'), url('../fonts/GraphikLCG-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'), url('../fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Light.woff2') format('woff2'), url('../fonts/GraphikLCG-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Graphik LCG';
  font-weight: 400;
  color: #2b2b2b;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1416px;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1260px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.wrapper {
  background: #f6f7f8;
  position: relative;
  overflow: hidden;
}

.header {
  background: #ffffff;
  padding: 20px 0 8px 0;
  border-radius: 0 0 45px 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 2px solid #f6f7f8;
    margin-bottom: 8px;
  }

  &__start {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    margin-right: 78px;
  }

  &__runok {
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -31px;
      position: absolute;
      background: #22a873;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: #22a873;
      border-radius: 50%;
      min-width: 16px;
      margin-right: 7px;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    margin-right: 125px;
    align-items: center;

    li {
      margin-right: 43px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 14px;
        color: #9299a2;

        &:hover {
          color: #22a873;
        }
      }
    }
  }

  &__notice {
    position: relative;
    margin-right: 33px;
    cursor: pointer;

    &-value {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffba3b;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      top: 0;
      right: -6px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
      background: #bfffd2;
    }
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      min-width: 40px;
      margin-right: 14px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3px;
      width: 160px;
      min-width: 160px;
    }

    &-name {
      font-size: 16px;
    }

    &-arrow {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transform: rotate(180deg);
      }
    }

    &-value {
      font-size: 14px;
      font-weight: 500;

      span {
        color: #9299a2;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-nav {
      display: flex;
      align-items: center;

      li {
        margin-right: 68px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-size: 16px;
          color: #9299a2;

          &:hover {
            color: #22a873;
          }

          span {
            margin-left: 5px;
          }
        }
      }
    }

    &-btns {
      display: flex;
      align-items: center;
    }

    &-btn {
      padding: 6px 20px;
      font-size: 14px;
      border-radius: 7px;
      background: #bfffd2;
      margin-right: 8px;

      &:hover {
        background: #a2fcbd;
      }

      &:last-child {
        margin-right: 0;
      }

      &:last-child {
        background: #f6f7f8;
        color: #22a873;

        &:hover {
          background: #e4e4e4;
        }
      }
    }
  }
}

.project {
  padding: 160px 0 48px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;

    &-title {
      font-size: 32px;
    }

    &-link {
      font-size: 16px;
      color: #22a873;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    border: 4px solid #ffffff;
    padding: 20px 24px;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__tabs {
    display: flex;
    align-items: center;
  }

  &__tab {
    margin-right: 80px;
    font-size: 16px;
    color: #9299a2;
    position: relative;
    cursor: pointer;

    &.active {
      font-weight: 700;
      color: inherit;

      &::before {
        content: '';
        display: block;
        width: 120%;
        height: 4px;
        left: -10%;
        background-color: #22a873;
        position: absolute;
        bottom: -32px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-item {
      display: flex;
      cursor: pointer;
      transition: 300ms;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 5;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      min-width: 40px;
      margin-right: 8px;

      &:hover {
        background: #22a873;

        svg {
          path,
          g,
          circle,
          line {
            fill: #fff;
            stroke: #fff;
          }

          &:first-child {
            circle {
              fill: #22a873;
            }
          }
        }
      }

      &.active {
        background: #22a873;

        svg {
          path,
          g,
          circle,
          line {
            fill: #fff;
            stroke: #fff;
          }

          &:first-child {
            circle {
              fill: #22a873;
            }
          }
        }
      }

      &--like {
        &.active {
          background: #fff;
          path,
          g,
          circle,
          line {
            fill: #ffba3b !important;
            stroke: #ffba3b !important;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__search-input {
    width: 0;
    height: 40px;
    background: #ffffff;
    transition: 500ms;
    border-radius: 20px;
    border: 0;
    padding: 0 15px;
    margin-left: 0;
    margin-right: 0;
    transform: translateX(40px);

    &.active {
      width: 380px;
    }
  }

  &__table {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    margin-bottom: 32px;
    background: #fff;
    box-sizing: 0 3px 50px rgba(0, 0, 0, 0.16);

    &-header {
      background: #fbfbfb;
      padding: 20px 24px 15px 24px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &-head {
      font-size: 12px;
      width: 100%;
      color: #9299a2;

      &:first-child {
      }

      &:last-child {
        width: 146px;
        min-width: 146px;
      }

      &:nth-child(6),
      &:nth-child(7) {
        width: 65px;
        margin: 0 16px;
      }

      &:nth-child(2),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        text-align: center;
      }

      &:nth-child(5) {
        padding-left: 20px;
      }
    }

    &-line {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 18px 24px 24px 24px;
      border-bottom: 4px solid #f6f7f8;
      transition: 300ms;

      &:hover {
        background: #f1f1f1;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-block {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &.active {
        svg {
          path {
            fill: #ffba3b;
          }
        }
      }
    }

    &-like {
      display: flex;
      align-items: center;
      margin-right: 8px;
    }

    &-number {
      font-size: 12px;
      color: #9299a2;
    }

    &-item {
      font-size: 14px;
      width: 100%;
      text-align: center;

      &:nth-child(6) {
        text-align: right;
        padding-right: 40px;
        width: calc(100% - 40px);
      }

      &:nth-child(10) {
        text-align: left;
      }

      span {
        color: #9299a2;
      }
    }

    &-name {
      font-size: 14px;
      text-align: left;
      font-weight: 700;
    }

    &-category {
      font-size: 12px;
      font-weight: 700;
    }

    &-proces {
      min-width: 114px;
      width: 114px;
      height: 24px;
      border-radius: 12px;
      background: #f6f7f8;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: #bfffd2;
        height: 100%;
        width: 57%;
      }

      &--percent {
        position: relative;
        z-index: 5;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 146px;
      min-width: 146px;
      height: 40px;
      background: #22a873;
      border-radius: 10px;
      font-size: 14px;
      color: #fff;

      &:hover {
        background: #198a5d;
      }
    }
  }

  &__table-second {
    .project__table-head {
      width: 100% !important;
      padding: 0 !important;
      text-align: center !important;

      &:nth-child(1) {
        width: 160px !important;
        min-width: 160px;
        text-align: left !important;
      }

      &:last-child {
        text-align: left !important;
      }
    }

    .project__table-item {
      width: 100% !important;
      padding: 0 !important;
      text-align: center !important;

      &:nth-child(1) {
        width: 140px !important;
        min-width: 140px;
      }

      &:nth-child(5) {
        text-align: left !important;
      }
    }
  }

  &__table {
    &-notice {
      &--item {
        width: 40px;
        height: 40px;
        min-width: 40px;
        margin: 0 auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #f6f7f8;
      }

      &--value {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-radius: 50%;
        background: #ffba3b;
        position: absolute;
        top: 0;
        right: -6px;
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;

    &-side {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #22a873;

      &.prev {
        margin-right: 45px;

        &:hover {
          img {
            transform: translateX(-3px);
          }
        }

        img {
          margin-right: 10px;
          transition: 300ms;
        }
      }

      &.next {
        margin-left: 45px;

        &:hover {
          img {
            transform: translateX(3px);
          }
        }

        img {
          margin-left: 10px;
          transition: 300ms;
        }
      }
    }

    &-page {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      transition: 300ms;
      justify-content: center;
      font-size: 16px;
      margin-right: 8px;

      &:hover {
        background: #e4e4e4;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: #bfffd2;
      }
    }
  }
}

.footer {
  background: #161616;
  padding: 52px 0 60px 0;
  color: #9299a2;

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    margin-bottom: 20px;
  }

  &__info {
    font-size: 14px;
    max-width: 256px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  &__block {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;

    a {
      &:hover {
        color: #22a873;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav {
    li {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 14px;

        &:hover {
          color: #22a873;
        }
      }
    }
  }

  &__chat {
    width: 456px;
    border-radius: 20px;
    background: #f8f8f8;
    padding: 16px 16px 20px 16px;

    &-items {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    &-head {
      font-size: 16px;
      color: #0098ff;
      margin-bottom: 8px;
    }

    &-text {
      font-size: 20px;
      max-width: 257px;
      color: #2b2b2b;
    }

    &-telegramm {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 43px;
      height: 43px;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      border-radius: 7px;
      background: #0098ff;
      color: #fff;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        background: #0079ca;
      }
    }
  }

  &__politic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 5px;
  }
}

.hash {
  background: #fff;
  width: 100%;
  padding: 10px 30px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 8px;
    border-radius: 5px;
    background: #f6f7f8;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__strong {
    display: flex;
    align-items: center;
    margin-left: 18px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__del {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #9299a2;
    min-width: 155px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    img {
      margin-right: 12px;
    }
  }
}

.filter {
  background: #fff;
  display: none;
  padding-bottom: 36px;

  &__items {
    padding: 18px 32px 65px 32px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__radios {
    display: flex;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 130px;
      background: #f6f7f8;
      position: absolute;
      right: 35px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__radio {
    &-content {
      display: flex;
      align-items: flex-start;
    }

    &-item {
      margin-right: 64px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-title {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 13px;
    }

    &-head {
      font-size: 12px;
      margin-bottom: 17px;
    }

    &-blocks {
      display: flex;
      align-items: flex-start;
    }

    &-inner {
      width: 32px;
      height: 32px;
      border-radius: 5px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: #b7c0c8;
      background: #f6f7f8;
    }

    &-block {
      position: relative;
      margin-right: 8px;

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
        left: 0;
        border-radius: 5px;
        opacity: 0;
        appearance: auto;

        &:checked ~ div {
          background: #22a873;
          color: #fff;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__range {
    width: 100%;
    display: flex;

    &-item {
      margin-right: 48px;
      width: 100%;

      &:first-child {
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 2px;
          height: 130px;
          background: #f6f7f8;
          position: absolute;
          right: -27px;
          top: -20px;
        }
      }
    }

    &-head {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .irs-line {
    height: 4px;
    background: #eeeeee;
  }

  .irs-bar {
    height: 4px;
    background: #22a873;
  }

  .irs-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bfffd2;
    cursor: pointer;
    top: 18px;

    i {
      display: none !important;
    }
  }

  .irs-from {
    top: 40px;
    font-size: 12px;
    color: inherit;
    background: none;
    padding: 0;
    cursor: pointer;

    &::before {
      display: none;
    }
  }

  .irs-to {
    top: 40px;
    font-size: 12px;
    color: inherit;
    cursor: pointer;
    background: none;
    padding: 0 0 0 5px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    background: #bfffd2;
    transition: 300ms;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: inherit;

    &-inner {
      padding: 0 32px;
    }

    &:hover {
      background: #92ebad;
    }
  }
}

.verif {
  padding: 160px 0 152px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;

    &-title {
      font-size: 32px;
      font-weight: 500;
    }

    &-skip {
      font-size: 14px;
      color: #22a873;
    }
  }

  &__content {
    max-width: 936px;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__tab {
    margin-right: 24px;
    width: 100%;
    padding: 30px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    background: #f6f7f8;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);

    &.active {
      background: #bfffd2;

      .verif__tab-name {
        font-weight: 700;
      }

      .verif__tab-point {
        position: relative;
        border: 0;

        &::before {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          background: #22a873;
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-point {
      border: 2px solid #eeeeee;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      min-width: 24px;
      margin-right: 16px;
      background: #fff;
    }

    &-name {
      font-size: 16px;
    }
  }

  &__block {
    border-radius: 20px;
    background: #ffffff;
    padding: 29px 32px 36px 32px;
    position: relative;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &-quest {
      position: absolute;
      top: 16px;
      right: 16px;

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #f6f7f8;
        cursor: pointer;
        font-size: 18px;
        color: #b7c0c8;
      }

      &--drop {
        position: absolute;
        width: 456px;
        background: #eeeeee;
        border-radius: 20px;
        left: 65px;
        top: -20px;
        opacity: 0;
        transition: 300ms;
        z-index: -1;

        &.active {
          z-index: 15;
          opacity: 1;
        }
      }
    }
  }

  &__quest {
    &-inner {
      position: relative;
      padding: 28px 40px 45px 24px;
    }

    &-head {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 23px;
    }

    &-info {
      font-size: 14px;
      line-height: 20px;
    }

    &-try {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 20px;
      left: -20px;
    }
  }

  &__step {
    font-size: 16px;
    color: #22a873;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 22px;
  }

  &__error {
    font-size: 14px;
    color: #ffba3b;
    margin-bottom: 9px;
    margin-top: -10px;
  }

  &__input {
    margin-bottom: 16px;
    width: 100%;
    position: relative;

    label {
      position: absolute;
      pointer-events: none;
      left: 16px;
      right: 16px;
      top: 50%;
      transform: translate(0, -50%);
      white-space: nowrap;
      overflow: hidden;
      line-height: 40px;
      transition: 0.3s;
    }

    &.error {
      input {
        border: 2px solid #ffe796;
      }
    }

    &-quest {
      position: absolute;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 16px;

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #f6f7f8;
        cursor: pointer;
        font-size: 18px;
        color: #b7c0c8;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    input {
      width: 100%;
      height: 64px;
      border: 2px solid #eeeeee;
      border-radius: 10px;
      padding: 0 16px;
      font-size: 14px;

      &::placeholder {
        color: inherit;
      }
    }

    input:focus ~ label,
    input:not(:focus):invalid ~ label {
      top: -5px;
      transform: none;
      font-size: 14px;
    }

    &.date {
      margin-bottom: 0;
      margin-right: 20px;
      min-width: 216px;
      width: 216px;
    }
  }

  &__field {
    font-size: 14px;
    color: #9299a2;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 26px;
  }

  &__inputs {
    display: flex;
    align-items: center;
  }

  &__end {
    text-align: right;
    font-size: 14px;
    color: #9299a2;
    margin-top: 4px;
  }

  &__inputs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    margin-bottom: 24px;

    .verif__input {
      margin: 0;
    }
  }

  &__file {
    padding-top: 30px;

    &-warn {
      z-index: 5;
      position: absolute;
      top: 12px;
      right: 10px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #e97e1e;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }

    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      &.active {
        .verif__file-icon {
          background: #22a873;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #eeeeee;
      min-width: 32px;
      margin-right: 11px;
    }

    &-title {
      font-size: 16px;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;
    }

    &-head {
      font-size: 14px;
      margin-bottom: 14px;
      white-space: nowrap;
    }

    &-inner {
      position: relative;
    }

    &-item {
      width: 100%;
    }

    &-block {
      position: relative;
      width: 100%;
      border: 2px dashed #eeeeee;
      padding: 20px 25px;
      height: 128px;

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        z-index: 2;
        top: 0;
        left: 0;
      }
    }

    &-text {
      max-width: 165px;
      font-size: 14px;
      line-height: 20px;

      span {
        color: #246ee9;
      }
    }

    &-name {
      position: absolute;
      bottom: 16px;
      left: 24px;
      display: flex;
      align-items: center;
      z-index: 5;
      font-size: 14px;
      color: #9299a2;

      img {
        cursor: pointer;
        margin-right: 12px;
      }
    }

    &-end {
      padding-top: 32px;
      font-size: 14px;
      line-height: 20px;
      color: #9299a2;
    }
  }

  &__block {
    &-second {
      .verif__end {
        margin-bottom: 42px;
      }
    }
  }

  &__ok {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #22a873;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 5;
  }

  .checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &__inner {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 12px;

      > span {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px;
        position: relative;
        border: 2px solid #22a873;

        &.active {
          opacity: 1;
        }

        &::before {
          display: block;
          content: '';
          position: absolute;
          top: 12%;
          left: 4%;
          right: 0;
          bottom: 0;
          border: solid #fff;
          border-width: 0px 2px 2px 0;
          transform: rotate(45deg);
          width: 5px;
          height: 10px;
          margin: 0 auto;
          border-radius: 1px;
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    input {
      display: none;

      &:checked + span {
        background: #22a873;
        &::before {
          opacity: 1;
          visibility: visible;
          border: solid #fff;
          border-width: 0px 3px 3px 0;
        }
      }
    }

    &__text {
      font-size: 14px;

      a {
        color: #22a873;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #22a873;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    transition: 300ms;

    &:hover {
      background: #1c9263;
    }
  }
}

.profile {
  padding: 170px 0 220px 0;

  &__banner {
    background: #fee8e8;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 29px 26px 29px 128px;
    margin-bottom: 47px;

    &.active{
        background: #BFFFD2;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translate(50%, -50%);
    }

    &-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-info {
      position: relative;
      z-index: 5;
      font-size: 16px;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 156px;
      height: 38px;
      border-radius: 7px;
      background: #22a873;
      color: #fff;
      font-size: 16px;
      position: relative;
      z-index: 5;

      &:hover {
        background: #1d9263;
      }
    }
  }

  &__items {
    display: flex;
  }

  &__balance {
    min-width: 456px;
    width: 456px;
    margin-left: 24px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
  }

  &__item {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px 20px 0 0;
      background: #f6f7f8;
      padding: 20px 24px;
      border: 4px solid #ffffff;
    }
  }

  &__header {
    display: flex;
    align-items: center;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #bfffd2;
      margin-right: 16px;
    }

    &-title {
      font-size: 24px;
    }

    &-block {
      position: relative;
    }

    &-quest{
      width: 16px;
      height: 16px;
      position: relative;
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 3px;
    }

    &-projects{
      font-size: 16px;
    }
  }

  &__quest {

    &-inner{
      position: relative;
      padding: 28px 40px 45px 24px;
    }

    &-item {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      top: -4px;
      right: -10px;
      background: #eeeeee;
      border-radius: 50%;
      font-size: 12px;
      color: #9299a2;
    }

    &-drop {
      position: absolute;
      width: 456px;
      background: #eeeeee;
      border-radius: 20px;
      left: 65px;
      top: -20px;
      opacity: 0;
      transition: 300ms;
      z-index: -1;

      &.active {
        z-index: 15;
        opacity: 1;
      }
    }

    &-head {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 23px;
    }

    &-info {
      font-size: 14px;
      line-height: 20px;
    }

    &-try {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 20px;
      left: -20px;
    }
  }

  &__item-content{
    padding: 30px 32px 24px 32px;
  }

  &__static{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 140px;
    margin-bottom: 48px;
    max-width: 800px;

    &-item{
      position: relative;

      &::before{
        content: '';
        display: block;
        width: 4px;
        height: 80px;
        background: #F6F7F8;
        position: absolute;
        right: -100px;
        top: 50%;
        transform: translate(0,-50%);
      }

      &:last-child{

        &::before{
          display: none;
        }
      }
    }

    &-head{
      font-size: 16px;
      margin-bottom: 17px;
    }

    &-value{
      font-size: 18px;
      font-weight: 600;

      span{
        color: #9299A2;
      }
    }
  }

  &__blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;
  }

  &__block{
    background: #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    max-height: 80px;

    &:first-child{
      border-top-left-radius: 10px;
    }

    &:nth-child(2){
      border-top-right-radius: 10px;
    }

    &:nth-child(3){
      border-bottom-left-radius: 10px;
    }

    &:nth-child(4){
      border-bottom-right-radius: 10px;
    }

    &-value{
      font-size: 16px;
      font-weight: 500;
      width: 100px;
    }

    &-name{
      font-size: 14px;
    }

    &-title{
      font-size: 14px;
      margin-bottom: 4px;
      color: #9299A2;
    }
  }

  &__balance{
    border-radius: 20px;

    &-header{
      display: flex;
      border-radius: 20px 20px 0 0;
      background: #F6F7F8;
      border: 4px solid #fff;
      position: relative;
      padding: 18px 24px;
    }

    &-title{
      display: flex;
      width: 100%;
      align-items: center;
    }

    &-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #BFFFD2;
      margin-right: 10px;
    }

    &-head{
      font-size: 24px;
    }

    &-quest--inner{
      position: relative;
    }

    &-quest--item{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #EEEEEE;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      font-size: 12px;
      color: #9299A2;
      cursor: pointer;
    }

    &-blocks{
      padding: 12px 24px 35px 24px;
    }

    &-block{
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid #F6F7F8;
      margin-bottom: 10px;

      &:last-child{
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    &-item{
      width: 200px;
      margin-right: 50px;
      font-size: 16px;
    }

    &-value{
      font-size: 16px;
      font-weight: 500;

      span{
        color: #9299A2;
      }
    }

    &-end{
      padding: 0 24px 24px 24px;

      &--items{
        display: flex;
        align-items: center;
        background: #F6F7F8;
        padding: 14px 22px;
        border-bottom: 2px solid #fff;

        &:first-child{
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        &:last-child{
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border: 0;
        }
      }

      &--item{
        font-size: 16px;
        width: 200px;
        margin-right: 28px;
      }

      &--value{
        font-size: 16px;
        font-weight: 500;
  
        span{
          color: #9299A2;
        }
      }
    }
  }

}


.profile__quest-drop.bottom{
  top: 40px;
  left: auto;
  right: -100px;

  .profile__quest-try{
    transform: rotate(90deg);
    right: 100px;
    left: auto;
    top: -20px;
  }
}